<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
  <dict>
    <key>urls</key>
    <array>
      <!--1.1	查询可以兑换商品-->
      <dict>
        <key>name</key>
        <string>jf_doQueryAllCanBackCP</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>QueryAllCanBackCPList</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>jf_doQueryAllCanBackCP</string>
      </dict>
      <!--1.1	查询可以兑换商品-->
      <dict>
        <key>name</key>
        <string>jf_doMakeJFOrder</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MakeJFOrder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>jf_doMakeJFOrder</string>
      </dict>
      <!--1.3	查询我的订单 userkey-->
      <dict>
        <key>name</key>
        <string>jf_doQueryAllMyOrder</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>QueryAllMyOrderList</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>jf_doQueryAllMyOrder</string>
      </dict>
      <!--1.3	查询我的订单 userandcode-->
      <dict>
        <key>name</key>
        <string>jf_doQueryDetailByCode</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>QueryDetailByCodeList</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>jf_doQueryDetailByCode</string>
      </dict>
      <!--1.3	查询我的订单 userandcode-->
      <dict>
        <key>name</key>
        <string>jf_doDeleteMyOrder</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MakeJFOrder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>jf_doDeleteMyOrder</string>
      </dict>
      <!--2.3	查询奖励兑换单 userkey-->
      <dict>
        <key>name</key>
        <string>jl_doQueryJlJE</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>QueryJlJE</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>jl_doQueryJlJE</string>
      </dict>
      <!--2.4	门店确认兑换单 jlorder-->
      <dict>
        <key>name</key>
        <string>jl_doMaokeOrder</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MakeJFOrder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>jl_doMaokeOrder</string>
      </dict>
      <!--2.4	门店确认兑换单 userkey-->
      <dict>
        <key>name</key>
        <string>jl_doQueryMyjlOrder</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>QueryAllMyJLOrder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>jl_doQueryMyjlOrder</string>
      </dict>
      <!--2.3	查询奖励兑换单 userandcode-->
      <dict>
        <key>name</key>
        <string>jl_doSureMyOrder</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MakeJFOrder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>jl_doSureMyOrder</string>
      </dict>
      <!--2.5	删除奖励兑换单接口 userandcode-->
      <dict>
        <key>name</key>
        <string>jl_doDeleteMyOrder</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MakeJFOrder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>jl_doDeleteMyOrder</string>
      </dict>
      <!--2.5	读取总数-->
      <dict>
        <key>name</key>
        <string>doQueryAllCountAndJE</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>QueryJlJECount</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>doQueryAllCountAndJE</string>
      </dict>
      <!--2.5	读取总数 useryhkh-->
      <dict>
        <key>name</key>
        <string>doAddYhkh</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MakeJFOrder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>doAddYhkh</string>
      </dict>
      <!--2.5	读取总数 userkeypwd-->
      <dict>
        <key>name</key>
        <string>doUpdateMyPWD</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MakeJFOrder</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>doUpdateMyPWD</string>
      </dict>
      <!--登录-传入参数(UserInfo)-->
      <dict>
        <key>name</key>
        <string>DoLogin</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>Login</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>doLogin</string>
      </dict>
      <!--查查询库存-传入参数(UserKey)-->
      <dict>
        <key>name</key>
        <string>DoQueryKc</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>QueryKcList</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>doQueryKc</string>
      </dict>
      <!--查询门店-传入参数(UserKey)-->
      <dict>
        <key>name</key>
        <string>doQueryMD</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>QueryMdList</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>doQueryMD</string>
      </dict>
      <!--查询积分-传入参数(UserKey)-->
      <dict>
        <key>name</key>
        <string>doQueryJdk</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>QueryJdkList</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>doQueryJdk</string>
      </dict>
      <!--扫描-传入参数(Userxsck)-->
      <dict>
        <key>name</key>
        <string>doXsck</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>Xsck</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>doXsck</string>
      </dict>
      <!--扫描码查询商品信息 参数 UserMD-->
      <dict>
        <key>name</key>
        <string>doQueryXjCK</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>QueryXjCKList</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>doQueryXjCK</string>
      </dict>
      <!--扫描码查询商品信息 参数 UserMD-->
      <dict>
        <key>name</key>
        <string>doQueryCKBySMM</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>QueryCKBySMMList</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>doQueryCKBySMM</string>
      </dict>
      <!--扫描码查询商品信息 参数 UserMD-->
      <dict>
        <key>name</key>
        <string>jf_doQueryJdk</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>QueryCKBySMMList</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>jf_doQueryJdk</string>
      </dict>
      <!--查询库存量 userkey-->
      <dict>
        <key>name</key>
        <string>doQueryMonthXse</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>QueryMonthXse</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>doQueryMonthXse</string>
      </dict>
      <!--查询库存量 userkey-->
      <dict>
        <key>name</key>
        <string>doQueryJFDetail</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>QueryJFDetailList</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>doQueryJFDetail</string>
      </dict>
      <!--查询库存量 userkeya-->
      <dict>
        <key>name</key>
        <string>kcpd_sp</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>KcpdSpList</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>kcpd_sp</string>
      </dict>
      <!--查询库存量 kupd-->
      <dict>
        <key>name</key>
        <string>kupd</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>KupdList</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>kupd</string>
      </dict>
      <!--查询门店信息-->
      <dict>
        <key>name</key>
        <string>doqueryMyDetailMsg</string>
        <key>type</key>
        <string>1</string>
        <key>classname</key>
        <string>MDXX</string>
        <key>errortype</key>
        <string>0</string>
        <key>value</key>
        <string>doqueryMyDetailMsg</string>
      </dict>
    </array>
  </dict>
</plist>
