<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>init</key>
	<dict>
		<key>encode</key>
		<string>gb2312</string>
		<key>appid</key>
		<string>1</string>
		<key>url</key>
		<string>/default.aspx??</string>
		<key>durl</key>
		<string>/uploads</string>
		<key>uurl</key>
		<string>http://app.udows.com:82/version/mobile?methodno=MUpdate</string>
		<key>uri</key>
		<string>http://appcms.cnyunshang.com/udac</string>
		<key>uris</key>
		<dict>
			<key>news</key>
			<string>http://appcms.cnyunshang.com/udac</string>
		</dict>
		<key>urls</key>
		<dict>
			<key>news</key>
			<string>/default.aspx??</string>
		</dict>
		<key>durls</key>
		<dict>
			<key>news</key>
			<string>/uploads</string>
		</dict>
		<key>temppath</key>
		<string>temppath</string>
		<key>loading</key>
		<string></string>
		<key>channel</key>
		<string>渠道</string>
		<key>statkey</key>
		<string>512d54645270154086000080</string>
		<key>mapkey</key>
		<string>makkey</string>
		<key>menu</key>
		<string>menu</string>
		<key>error</key>
		<string></string>
		<key>log</key>
		<true/>
		<key>iconurl</key>
		<string>iconurl</string>
	</dict>
	<key>urls</key>
	<array>
		<dict>
			<key>name</key>
			<string>testproto</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>Msg_Retn_Builder</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>http://192.168.1.122:8080/MSJ/i?m=L02</string>
		</dict>
		<dict>
			<key>name</key>
			<string>test</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>TestJson</string>
			<key>errortype</key>
			<string>0</string>
			<key>value</key>
			<string>[news]UType=Center&amp;MHID=2&amp;Method=GetCollectByType&amp;TypeName=%E8%A1%8C%E4%B8%9A%E8%B5%84%E8%AE%AF&amp;LoginId=141&amp;UserName=mh2014&amp;UserPass=123456&amp;</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RCATEGORY</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>Msg_CcategoryList_Builder</string>
			<key>value</key>
			<string>[news]rcategory&amp;app=ccategorylist</string>
		</dict>
		<dict>
			<key>name</key>
			<string>RCATEGORY</string>
			<key>type</key>
			<string>1</string>
			<key>classname</key>
			<string>Msg_CcategoryList_Builder</string>
			<key>value</key>
			<string>rcategory&amp;app=ccategorylist</string>
		</dict>
	</array>
	<key>errors</key>
	<array>
		<dict>
			<key>name</key>
			<string>97</string>
			<key>type</key>
			<string>1</string>
			<key>value</key>
			<string>程序错误</string>
		</dict>
		<dict>
			<key>name</key>
			<string>96</string>
			<key>type</key>
			<string>1</string>
			<key>value</key>
			<string>数据解析错误</string>
		</dict>
		<dict>
			<key>name</key>
			<string>98</string>
			<key>type</key>
			<string>0</string>
			<key>value</key>
			<string>连接错误，请检查网络</string>
		</dict>
		<dict>
			<key>name</key>
			<string>90</string>
			<key>type</key>
			<string>1</string>
			<key>value</key>
			<string>授权错误</string>
		</dict>
	</array>
</dict>
</plist>
